@import "base";
@import "styles";
@import "design-tokens";
@import "404";
@import "layout";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 2rem auto;
}

.blogs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  article {
    display: flex;
    max-height: 25rem;

    .contents_blog {
      img {
        width: 25rem;
        height: 15rem;
      }
    }

    .comments_blog {
      overflow: hidden scroll;
      .comment {
        margin: 1rem 0;
        background-color: $secondary;
        padding: 1rem;
        border-radius: 0.5rem;

        .sub_comment {
          margin: 1rem 0;
          background-color: $primary;
          padding: 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
}

footer {
  flex: 1;
}
