@import "base";
@import "styles";
@import "design-tokens";
@import "404";
@import "layout";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 2rem auto;
}

.blogs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  article {
    img {
      width: 25rem;
      height: 15rem;
    }
  }
}

footer {
  flex: 1;
}
